body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
}

.link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.logo-header,
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-header {
  color: #4d5ae5;
}

.logo-part-header {
  color: #2e2f42;
}

.nav-links .link {
  color: #2e2f42;
}

.nav-links .link:hover,
.nav-links .link:focus {
  color: #404bbf;
}

.site-address {
  font-style: normal;
}

.address-links .link {
  color: #434455;
}

.address-links .link:hover,
.address-links .link:focus {
  color: #404bbf;
}

.hero-image {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
}

.page-title {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
}

.order-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: currentColor;
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.sub-section-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-section {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
}

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.logo-footer {
  color: #4d5ae5;
}
.logo-part-footer {
  color: #f4f4fd;
}
